absl-py==0.12.0
aiohttp==3.6.2
altgraph==0.17
aniso8601==9.0.1
apache-beam==2.28.0
appdirs==1.4.3
argon2-cffi==20.1.0
astroid==2.6.6
astunparse==1.6.3
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.5
avro-python3==1.9.2.1
backcall==0.2.0
beautifulsoup4==4.9.1
black==19.3b0
bleach==3.1.0
bs4==0.0.1
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
Click==7.0
cloudpickle==1.6.0
colorama==0.4.1
contextlib2==0.6.0.post1
corsa==0.1.2
crcmod==1.7
cycler==0.10.0
Cython==0.29.22
dask==2.27.0
dask-glm==0.2.0
dask-ml==1.6.0
dataclasses==0.6
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.1
distributed==2.27.0
dm-tree==0.1.5
docker-py==1.10.6
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.3
fastavro==1.3.5
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
flatbuffers==1.12
fsspec==0.8.2
future==0.18.2
gast==0.3.3
gin-config==0.4.0
google-api-core==1.26.3
google-api-python-client==2.1.0
google-auth==1.27.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.3
google-cloud-bigquery==2.13.1
google-cloud-core==1.6.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.32.0
gunicorn==19.9.0
h5py==2.10.0
hdfs==2.6.0
HeapDict==1.0.1
httplib2==0.17.4
idna==2.9
importlib-metadata==1.3.0
importlib-resources==5.1.2
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.9.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.6.1
jupyterlab-widgets==1.0.0
kaggle==1.5.12
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
llvmlite==0.34.0
locket==0.2.0
lvis==0.5.3
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
marsutils==0.4.0
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==7.0.0
msgpack==1.0.0
multidict==4.7.5
multipledispatch==0.6.0
mwparserfromhell==0.6
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.2.0
numba==0.51.2
numexpr==2.7.3
numpy==1.21.2
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.3.2
pandocfilters==1.4.2
parso==0.8.1
partd==1.1.0
pbr==5.5.1
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.9
pipenv==2020.8.13
pluggy==0.9.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.16
proto-plus==1.18.1
protobuf==3.15.6
psutil==5.7.0
py==1.8.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.5.0
pycparser==2.20
pydot==1.4.2
pyfrc==2019.1.0
pygame==1.9.6
Pygments==2.5.2
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
pylint==2.9.6
pymongo==3.11.3
pynetconsole==2.0.2
pynetworktables==2019.0.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.15.6
pytest==4.3.1
python-dateutil==2.8.2
python-slugify==4.0.1
pytz==2021.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==22.0.3
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
robotpy-ctre==2019.3.2
robotpy-hal-base==2019.2.3
robotpy-hal-sim==2019.2.3
robotpy-installer==2019.2.0
robotpy-navx==2019.0.1
robotpy-rev==2019.0.2
robotpy-wpilib-utilities==2019.0.9
rope==0.19.0
rsa==4.7.2
scikit-learn==0.23.2
scikit-surprise==1.1.1
scipy==1.5.2
scrapinghub==2.3.1
seaborn==0.11.2
Send2Trash==1.5.0
sentencepiece==0.1.95
seqeval==1.2.2
shub==2.10.0
six==1.16.0
sklearn==0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
surprise==0.1
tblib==1.7.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-addons==0.12.1
tensorflow-datasets==4.2.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.29.0
tensorflow-model-optimization==0.5.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
text-unidecode==1.3
tf-models-official==2.4.0
tf-slim==1.1.0
threadpoolctl==2.1.0
timeago==1.0.13
toml==0.10.0
toolz==0.10.0
tornado==6.1
tqdm==4.47.0
traitlets==4.3.3
typed-ast==1.4.3
typeguard==2.12.0
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.9
virtualenv==20.0.31
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==0.15.6
widgetsnbextension==3.5.1
wpilib==2019.2.3
wrapt==1.12.1
yarl==1.1.1
zict==2.0.0
zipp==0.6.0
